<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lamb.key.crowd.mapper.TProjectItemPicMapper">
<!--void savePathList(@Param("detailPicturePathList") List<String> detailPicturePathList,
                  @Param("projectId") Integer projectId);-->
    <insert id="savePathList">
        insert into t_project_item_pic(projectid,item_pic_path)values
        <foreach collection="detailPicturePathList" item="detailPicturePath" separator=",">
            (#{projectId},#{detailPicturePath})
        </foreach>
    </insert>
</mapper>
